services:
  # Domain managers
  edubox.calendar_manager:
    class: EduBoxBundle\DomainManager\CalendarManager
    arguments: ['@doctrine.orm.entity_manager', '@edubox.setting_manager']

  edubox.holiday_manager:
    class: EduBoxBundle\DomainManager\HolidayManager
    arguments: ['@doctrine.orm.entity_manager']

  edubox.quarter_manager:
    class: EduBoxBundle\DomainManager\QuarterManager
    arguments:
      - '@doctrine.orm.entity_manager'
      - '@edubox.calendar_manager'
      - '@edubox.students_group_manager'
      - '@edubox.subject_schedules_group_manager'

  edubox.mark_manager:
    class: EduBoxBundle\DomainManager\MarkManager
    arguments:
      - '@doctrine.orm.entity_manager'
      - '@edubox.calendar_manager'
      - '@edubox.students_group_manager'
      - '@edubox.quarter_manager'
      - '@event_dispatcher'

  edubox.setting_manager:
    class: EduBoxBundle\DomainManager\SettingManager
    arguments: ['@doctrine.orm.entity_manager']

  edubox.students_group_manager:
    class: EduBoxBundle\DomainManager\StudentsGroupManager
    arguments: ['@doctrine.orm.entity_manager', '@edubox.user_meta_manager']

  edubox.subject_manager:
    class: EduBoxBundle\DomainManager\SubjectManager
    arguments: ['@doctrine.orm.entity_manager']

  edubox.subject_area_manager:
    class: EduBoxBundle\DomainManager\SubjectAreaManager
    arguments: ['@doctrine.orm.entity_manager']

  edubox.subject_schedule_manager:
    class: EduBoxBundle\DomainManager\SubjectScheduleManager
    arguments: ['@doctrine.orm.entity_manager', '@edubox.setting_manager', '@edubox.subject_schedules_group_manager']

  edubox.subject_schedules_group_manager:
    class: EduBoxBundle\DomainManager\SubjectSchedulesGroupManager
    arguments: ['@doctrine.orm.entity_manager', '@edubox.setting_manager']

  edubox.user_manager:
    class: EduBoxBundle\DomainManager\UserManager
    arguments: ['@doctrine.orm.entity_manager']

  edubox.user_meta_manager:
    class: EduBoxBundle\DomainManager\UserMetaManager
    arguments: ['@doctrine.orm.entity_manager']

  edubox.teacher_manager:
    class: EduBoxBundle\DomainManager\TeacherManager
    arguments: ['@doctrine.orm.entity_manager', '@edubox.subject_schedule_manager', '@edubox.subject_schedules_group_manager', '@edubox.subject_manager']

  edubox.parent_manager:
    class: EduBoxBundle\DomainManager\ParentManager
    arguments: ['@doctrine.orm.entity_manager', '@edubox.user_manager', '@edubox.student_manager']

  edubox.lesson_manager:
    class: EduBoxBundle\DomainManager\LessonManager
    arguments: ['@doctrine.orm.entity_manager', '@edubox.quarter_manager', '@edubox.students_group_manager']

  edubox.student_manager:
    class: EduBoxBundle\DomainManager\StudentManager
    arguments: ['@doctrine.orm.entity_manager', '@edubox.user_meta_manager', '@edubox.user_manager']

  edubox.diary_manager:
    class: EduBoxBundle\DomainManager\DiaryManager
    arguments: ['@doctrine.orm.entity_manager', '@edubox.subject_schedule_manager', '@edubox.subject_manager', '@edubox.lesson_manager', '@edubox.student_manager', '@edubox.mark_manager']

  edubox.journal_manager:
    class: EduBoxBundle\DomainManager\JournalManager

  edubox.sms_manager:
    class: EduBoxBundle\DomainManager\SMSManager
    arguments: ['@edubox.setting_manager']

  edubox.statistic_manager:
    class: EduBoxBundle\DomainManager\StatisticManager
    arguments:
      - '@doctrine.orm.entity_manager'
      - '@edubox.setting_manager'
      - '@edubox.student_manager'
      - '@edubox.quarter_manager'
      - '@edubox.students_group_manager'

  # Form handlers
  edubox.user_form_handler:
    class: EduBoxBundle\Form\Handler\UserFormHandler
    arguments: ['@edubox.user_manager', '@doctrine.orm.entity_manager', '@security.password_encoder']

  edubox.calendar_form_handler:
    class: EduBoxBundle\Form\Handler\CalendarFormHandler
    arguments: ['@edubox.calendar_manager']

  edubox.students_group_form_handler:
    class: EduBoxBundle\Form\Handler\StudentsGroupFormHandler
    arguments: ['@edubox.students_group_manager']

  edubox.subject_form_handler:
    class: EduBoxBundle\Form\Handler\SubjectFormHandler
    arguments: ['@edubox.subject_manager']

  edubox.subject_area_form_handler:
    class: EduBoxBundle\Form\Handler\SubjectAreaFormHandler
    arguments: ['@edubox.subject_area_manager']

  edubox.subject_schedule_form_handler:
    class: EduBoxBundle\Form\Handler\SubjectScheduleFormHandler
    arguments: ['@edubox.subject_schedule_manager', '@edubox.teacher_manager']

  edubox.subject_schedules_group_form_handler:
    class: EduBoxBundle\Form\Handler\SubjectSchedulesGroupFormHandler
    arguments: ['@edubox.subject_schedules_group_manager']

  edubox.lesson_form_handler:
    class: EduBoxBundle\Form\Handler\LessonFormHandler
    arguments: ['@edubox.lesson_manager']

  # Event listeners
  EduBoxBundle\EventListener\SendMessageToParentListener:
    arguments: ['@edubox.student_manager', '@edubox.sms_manager', '@translator']
    tags:
      - { name: kernel.event_listener, event: edubox.mark.created, method: onMarkCreated }

  EduBoxBundle\EventListener\UpdateQuarterListener:
    arguments: ['@edubox.quarter_manager']
    tags:
      - { name: kernel.event_listener, event: edubox.mark.created, method: onMarkCreated }

  EduBoxBundle\EventListener\DetermineLocaleListener:
    arguments: ['@security.token_storage']
    tags:
      - { name: kernel.event_listener, event: kernel.request , method: onKernelRequest, priority: 17 }



  # Commands
  EduBoxBundle\Command\ResetLessonsCommand:
    arguments:
      - '@doctrine.orm.entity_manager'
      - '@edubox.lesson_manager'
      - '@edubox.mark_manager'
      - '@edubox.quarter_manager'
    tags:
      - {name: 'console.command', command: 'edubox:reset-lessons'}

  EduBoxBundle\Command\UpdateStatisticsCommand:
    arguments:
      - '@doctrine.orm.entity_manager'
      - '@edubox.statistic_manager'
      - '@edubox.quarter_manager'
    tags:
      - {name: 'console.command', command: 'edubox:statistic:update'}