{% extends 'EduBoxBundle::standard_layout.html.twig' %}

{% set title = 'Create calendar' %}

{% set box_body %}
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group {% if not calendar.name.vars.valid %}has-error{% endif %}">
                {% include 'EduBoxBundle:Field:input.html.twig' with {'field':calendar.name} %}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group {% if not calendar.year.vars.valid %}has-error{% endif %}">
                {% include 'EduBoxBundle:Field:input.html.twig' with {'field':calendar.year} %}
            </div>
        </div>
    </div>
{% endset %}


{% block content %}
    {{ form_start(calendar) }}
    {% include 'EduBoxBundle:Block:box.html.twig' with {
        'box_body': box_body
    } only %}

    <div class="sonata-ba-form-actions well well-small form-actions">
        {% include 'EduBoxBundle:Field:input.html.twig' with {'field':calendar.submit,'field_attr':{'class':'btn btn-success'}} %}
    </div>
    {{ form_end(calendar) }}
{% endblock %}