{% extends 'EduBoxBundle::standard_layout.html.twig' %}

{% set title = 'Create calendar' %}

{% set box_body %}
    <div class="row">
        <div class="col-md-8">
            <div class="form-group {% if not calendar.name.vars.valid %}has-error{% endif %}">
                {% include 'EduBoxBundle:Field:input.html.twig' with {'field':calendar.name} %}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group {% if not calendar.year.vars.valid %}has-error{% endif %}">
                {% include 'EduBoxBundle:Field:input.html.twig' with {'field':calendar.year} %}
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="form-group {% if not calendar.quarterOneBegin.vars.valid %}has-error{% endif %}">
                {% include 'EduBoxBundle:Field:date_without_year.html.twig' with {'field':calendar.quarterOneBegin} %}
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="form-group {% if not calendar.quarterOneEnd.vars.valid %}has-error{% endif %}">
                {% include 'EduBoxBundle:Field:date_without_year.html.twig' with {'field':calendar.quarterOneEnd} %}
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="form-group {% if not calendar.quarterTwoBegin.vars.valid %}has-error{% endif %}">
                {% include 'EduBoxBundle:Field:date_without_year.html.twig' with {'field':calendar.quarterTwoBegin} %}
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="form-group {% if not calendar.quarterTwoEnd.vars.valid %}has-error{% endif %}">
                {% include 'EduBoxBundle:Field:date_without_year.html.twig' with {'field':calendar.quarterTwoEnd} %}
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="form-group {% if not calendar.quarterThreeBegin.vars.valid %}has-error{% endif %}">
                {% include 'EduBoxBundle:Field:date_without_year.html.twig' with {'field':calendar.quarterThreeBegin} %}
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="form-group {% if not calendar.quarterThreeEnd.vars.valid %}has-error{% endif %}">
                {% include 'EduBoxBundle:Field:date_without_year.html.twig' with {'field':calendar.quarterThreeEnd} %}
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="form-group {% if not calendar.quarterFourBegin.vars.valid %}has-error{% endif %}">
                {% include 'EduBoxBundle:Field:date_without_year.html.twig' with {'field':calendar.quarterFourBegin} %}
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="form-group {% if not calendar.quarterFourEnd.vars.valid %}has-error{% endif %}">
                {% include 'EduBoxBundle:Field:date_without_year.html.twig' with {'field':calendar.quarterFourEnd} %}
            </div>
        </div>
    </div>
{% endset %}


{% block content %}
    {{ form_start(calendar) }}
        {% include 'EduBoxBundle:Block:box.html.twig' with {
            'box_body': box_body
        } only %}

        <div class="sonata-ba-form-actions well well-small form-actions">
            {% include 'EduBoxBundle:Field:input.html.twig' with {'field':calendar.submit,'field_attr':{'class':'btn btn-success'}} %}
        </div>
    {{ form_end(calendar) }}
{% endblock %}