{% extends 'EduBoxBundle::standard_layout.html.twig' %}

{% set edit_box_title = 'Organisation' %}

{% set edit_box_body %}
    {{ form_start(org_form) }}
        <div class="row">
            <div class="col-md-6">
                <div class="col-12">
                    <div class="form-group{% if not org_form.shortName.vars.valid %}has-error{% endif %}">
                        {% include 'EduBoxBundle:Field:input.html.twig' with {'field':org_form.shortName} %}
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group{% if not org_form.fullName.vars.valid %}has-error{% endif %}">
                        {% include 'EduBoxBundle:Field:input.html.twig' with {'field':org_form.fullName, field_attr:{'style':'resize:vertical'}} %}
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group{% if not org_form.address.vars.valid %}has-error{% endif %}">
                        {% include 'EduBoxBundle:Field:input.html.twig' with {'field':org_form.address, field_attr:{'style':'resize:vertical'}} %}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-12">
                    <div class="form-group{% if not org_form.director.vars.valid %}has-error{% endif %}">
                        {% include 'EduBoxBundle:Field:input.html.twig' with {'field':org_form.director} %}
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group{% if not org_form.phone.vars.valid %}has-error{% endif %}">
                        {% include 'EduBoxBundle:Field:input.html.twig' with {'field':org_form.phone} %}
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group{% if not org_form.email.vars.valid %}has-error{% endif %}">
                        {% include 'EduBoxBundle:Field:input.html.twig' with {'field':org_form.email} %}
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            {% include 'EduBoxBundle:Field:input.html.twig' with {'field':org_form.submit,'field_attr':{'class':'btn btn-primary pull-right'}} %}
        </div>
    {{ form_end(org_form) }}
{% endset %}

{% block content %}
    {% include 'EduBoxBundle:Block:box.html.twig' with {
        'box_body': edit_box_body,
        'box_title': edit_box_title,
    } only %}
{% endblock %}