{% extends '@EduBox/admin_layout.html.twig' %}

{% set title = 'Create subject schedule' %}

{% block actions %}
    <li>
        <a class="sonata-action-element" href="{{ path('edubox.admin.subject_schedule_list') }}">
            <i class="fa fa-list" aria-hidden="true"></i>
            List
        </a>
    </li>
{% endblock %}

{% set box_body %}
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {% include '@EduBox/Field/input.html.twig' with {'field':subject_schedule_form.name} %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {% include '@EduBox/Field/input.html.twig' with {'field':subject_schedule_form.studentsGroup} %}
            </div>
        </div>
    </div>
{% endset %}

{% block content %}
    {{ form_start(subject_schedule_form) }}
    {% include '@EduBox/Block/box.html.twig' with {'box_body':box_body} %}
    <div class="sonata-ba-form-actions well well-small form-actions">
        {{ form_widget(subject_schedule_form.submit, {'attr':{'class':'btn btn-success'},'label':'Create' }) }}
    </div>
    {{ form_end(subject_schedule_form) }}
{% endblock %}
