
{% set box_body = box_body is defined ? box_body : '' %}

<div class="box box-primary">
    {% if box_title is defined %}
        <div class="box-header">
            <div class="box-title">{{ box_title }}</div>
        </div>
    {% endif %}
    <div class="box-body">
            {{ box_body }}
    </div>
</div>

