
{% set box_body = box_body is defined ? box_body : '' %}
{% set box_title = box_title is defined ? box_title : '' %}

<div class="box box-primary">
    <div class="box-body table-responsive no-padding">
        <table class="table table-bordered table-striped table-hover sonata-ba-list">
            {{ table_content }}
        </table>
    </div>
</div>

