{% trans_default_domain 'EduBoxBundle' %}

<div class="user-panel">
    <div class="pull-left image">
        <img src="{{ asset('assets/img/user.jpg') }}" class="img-circle" alt="User Image">
    </div>
    <div class="pull-left info">
        <p>{{ app.user.fullname }}</p>
        <small>
            {% for role in app.user.rolesWithoutRoleUser %}
                {% set role = 'user.'~role %}
                {{ role|trans }} {% if not loop.last %}, {% endif %}
            {% endfor %} (@{{ app.user.username }})
        </small>
    </div>
</div>