{% extends '@EduBox/admin_layout.html.twig' %}

{% set title = 'Students list' %}

{% set table_content %}
    <thead>
    <tr>
        <th>Student</th>
    </tr>
    </thead>
    <tbody>
    {% for student in students %}
        <tr>
            <td>
                <a href="{{ path('edubox.admin.quarter_list', {'student': student.id}) }}">{{ student.fullname }}</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
{% endset %}

{% block content %}
    {% include '@EduBox/Block/box_table.html.twig' with {'table_content': table_content} only %}
{% endblock %}