{% set label = label is defined ? label : field.vars.label %}
{% set default_attr = {'class':'datepicker form-control'} %}
{% set field_attr = field_attr is defined ? field_attr + default_attr : default_attr %}
{{ form_label(field, label) }}
<div class="input-group date">
    <div class="input-group-addon">
        <i class="fa fa-calendar"></i>
    </div>
    {{ form_widget(field, {'attr':field_attr}) }}
</div>
<script>
    $('#{{ field.vars.id }}').datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat:'yy-mm-dd',
        minDate: "-120Y", maxDate: "-4Y",
    });
</script>